@font-face {
    font-family: 'PT_Serif';
    src: url('/static/font/pt_serif-web-regular-webfont.eot');
    src: url('/static/font/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/pt_serif-web-regular-webfont.woff') format('woff'),
         url('/static/font/pt_serif-web-regular-webfont.ttf') format('truetype'),
         url('/static/font/pt_serif-web-regular-webfont.svg#PT_Serif') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('/static/font/pt_serif-web-bold-webfont.eot');
    src: url('/static/font/pt_serif-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/pt_serif-web-bold-webfont.woff') format('woff'),
         url('/static/font/pt_serif-web-bold-webfont.ttf') format('truetype'),
         url('/static/font/pt_serif-web-bold-webfont.svg#PT_Serif') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('/static/font/pt_serif-web-italic-webfont.eot');
    src: url('/static/font/pt_serif-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/pt_serif-web-italic-webfont.woff') format('woff'),
         url('/static/font/pt_serif-web-italic-webfont.ttf') format('truetype'),
         url('/static/font/pt_serif-web-italic-webfont.svg#PT_Serif') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('/static/font/pt_serif-web-bolditalic-webfont.eot');
    src: url('/static/font/pt_serif-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/font/pt_serif-web-bolditalic-webfont.woff') format('woff'),
         url('/static/font/pt_serif-web-bolditalic-webfont.ttf') format('truetype'),
         url('/static/font/pt_serif-web-bolditalic-webfont.svg#PT_Serif') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PT_Mono';
    src: url('/static/font/PT_Mono.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

.UI {
	font-family: PT_Serif, serif;
	font-size: 9.5pt;
	color: #000;
	word-spacing : 0.1em;
}
.SourceLang {
	font-family: PT_Serif, serif;
	font-size: 10pt;
	color: #333;
}
.TargetLang {
	font-family: PT_Mono, monospace;
	font-size: 11pt;
	color: #999;
}
.UserText {
	font-family: PT_Mono, monospace;
	font-size: 11pt;
	color: #000;
}
.OptionPanel {
	font-family: PT_Serif, serif;
	font-size: 8pt;
	color: #444;
}

.ExperimentUI {
	position: fixed;
	display: inline-block;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	font-family: PT_Serif, serif;
	font-size: 9.5pt;
	padding: 10px 30px 30px 10px;
}