body {
   background:LightGray;
   text-align:center;
   margin:20px;
   padding:0;
   font-family: Helvetica Neue, sans-serif;
   color:#000;
}

a {
   color:#537bbd;
   text-decoration:none;
}

a:hover {
   border-bottom:1px solid;
}

#wrapper1 {
   position:relative;
   text-align:left;
   width:960px;
   margin:0 auto;
   background:White url("/static/background.png") repeat-y top right;
}

#wrapper2 {
   position:relative;
   text-align:left;
   width:960px;
   margin:0 auto;
   background:url("/static/background.png") repeat-y top left;
}

#header {
   background:#DEEBF7;
   padding:10px;
   margin:0;
   text-align:center;
   width:940px;
   margin:0 auto;
}

#header h1 {
   font-size:125%;
}

#header a:hover {
   color:#7A2875;
}

#maincol {
   position:relative;
   margin:0;
   padding:10px;
}

#leftcol { 
   position:relative;
   top:-10px;
   left:-10px;
   float:left;
   voice-family: "\"}\"";
   voice-family:inherit;
   width:20px; /* actual value */
   margin:0 0 -10px 0;
   padding:10px;
   background:White;
   z-index:100;
}

#rightcol {
   position:relative;
   top:-10px;
   right:-10px;
   float:right;
   voice-family: "\"}\"";
   voice-family:inherit;
   width:20px; /* actual value */
   margin:0 0 -10px 0;
   padding:10px;
   background:White;
   z-index:99;
}

#centercol {
   background:White;
   position:relative;
   padding:0 40px;
}

#footer {
   font-size:120%;
   position:relative;
   top:1px;
   background:#DEEBF7;
   width:100%;
   clear:both;
   margin:0;
   padding:1% 0;
   text-align:center;
   color:Black;
}
