# ignore emacs backups
*~

# ignore compiled files
classes/**

# ignore javadoc
javadoc/**

# Python compiled files
*.pyc

# temporary files
*.swp
*.swo

# C++ binaries
*.o
*.so
*.dylib
src-cc/kenlm/lmplz
src-cc/kenlm/build_binary
src-cc/kenlm/query

# IntelliJ and Eclipse metadata
.idea
.metadata
.classpath
.settings/**
phrasal.iml
phrasal.ipr
phrasal.iws

# Misc. stuff
.DS_Store
.doit.db
logs/

# Ignore gradle settings
.gradle/
build/
bin/
libs/

