<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="phrasal" packages="">
  <Properties>
    <Property name="log-path">logs</Property>
  </Properties>

  <Appenders>
    <RollingFile append="true" name="logfile" fileName="${log-path}/phrasal.log" filePattern="${log-path}/phrasal.%i.log">
      <PatternLayout>
	       <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
      </PatternLayout>
      <Policies>
	       <OnStartupTriggeringPolicy />
	       <SizeBasedTriggeringPolicy size="250 MB" />
      </Policies>
    </RollingFile>

    <Async name="Async">
      <AppenderRef ref="logfile"/>
    </Async>

    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="edu.stanford.nlp.mt" level="info" additivity="false">
      <AppenderRef ref="Async" level="info"/>
    </Logger>

    <Root level="error" additivity="false">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
