<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="phrasal" packages="">
  <Properties>
    <Property name="log-path">logs</Property>
  </Properties>
  
  <Appenders>
    <RollingRandomAccessFile name="logfile" fileName="${log-path}/phrasal.log" filePattern="${log-path}/phrasal.%i.log">
      <PatternLayout>
	       <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
      </PatternLayout>
      <Policies>
	       <OnStartupTriggeringPolicy />
	       <SizeBasedTriggeringPolicy size="250 MB" />
      </Policies>
    </RollingRandomAccessFile>

    <Console name="console" target="SYSTEM_ERR">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <AsyncLogger name="edu.stanford.nlp" level="info" includeLocation="true">
      <AppenderRef ref="logfile"/>
    </AsyncLogger>
    
    <Root level="info" additivity="false">
      <AppenderRef ref="console" level="warn"/>
    </Root>
  </Loggers>
</Configuration>
