{% extends "base.html" %}
{% load url from future %}

{% block user_static %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />
{% endblock %}

{% block user_sidebar %}
<div id="sidebar">
<ul>
 <li><a href="/tm/">Work Queue</a></li>
 <li><a href="/bye/">Logout</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div id="history-container">
    <table id="history-table">
    <tr>
    <td id="history-td-src-title" class="history-td">Input sentence:</td>
    </tr>
    <tr>
    {% if src.lang.css_direction == "rtl" %}
    <td class="history-td-rl">{{ src.txt }}</td>
    {% else %}
    <td class="history-td">{{ src.txt }}</td>
    {% endif %}
    {% if tgt_list %}
    {% for tgt in tgt_list %}
        <tr>
	<td class="history-td-tgt-title">
	  {{ tgt.date }} // {{ tgt.user }} wrote: 
	</td>
	</tr>
	{% if tgt.lang.css_direction == "rtl" %}
	<td class="history-td-rl">{{ tgt.txt }}</td>
	{% else %}
	<td class="history-td">{{ tgt.txt }}</td>
	{% endif %}
	</tr>
    {% endfor %}
    {% else %}
    <tr>
      <td id="history-td-none">No translations yet...get to work.</td>
    </tr>
    {% endif %}
    </ul>
    </table>
</div>
{% endblock %}
