{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- Stanford Translation Study
{% endblock %}

{% block user_static %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />
{% endblock %}

{% block header %}
<h2>Stanford Translation Study</h2>
{% endblock%}

{% block content %}

<div id="main-content">
<p> Hi {{ name }}!</p>
{% if module_name == "none" %}
<p> You're done with all of the modules in this job! Thanks for your work!</p>
{% else %}{% if module_name == "train" %}
<p> Please complete the <a href="/tm/training/">training</a> before you start the translation job. You'll see several different translation interfaces, and we want you to understand the differences before you get to work.</p>
{% else %}
<p>Take a quick break! When you are ready, <a href="/tm/tr/">click here</a> to start the next module.</p>
{% endif %}{% endif %}
</div>

{% endblock %}
