{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- {{ first_name }} {{ last_name }}
{% endblock %}

{% block user_static %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />
{% endblock %}

{% block header %}
<h1> Hello {{ first_name }}!</h1>
<p>You have {{ src_list|length }} sentences to translate. I'm showing at most 10 of those tasks.</p>
{% endblock%}

{% block content %}

{% if src_list %}
    <table id="queue-table">
    {% for src in src_list %}
        <tr>
        <td class="queue-td"><a href="/tm/{{ src.id }}/">History</a></td>
	<td class="queue-td"><a href="/tm/{{ src.id }}/tr">Translate</a></td>
	{% if src.lang.css_direction == "rtl" %}
	<td class="queue-td-rl">{{ src.txt|truncatewords:10 }}</td>
	{% else %}
	<td class="queue-td">{{ src.txt|truncatewords:10 }}</td>
	{% endif %}
	</tr>
    {% empty %}
	<p> No tasks left! Thanks for your help! </p>
    {% endfor %}
    </ul>
    </table>
{% else %}
    <p>No inputs are available.</p>
{% endif %}

{% endblock %}


