{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- User Survey
{% endblock %}

{% block user_static %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />
{% endblock %}

{% block header %}
<h1>Please Complete this Short Survey</h1>
{% endblock%}

{% block content %}

<div id="main-content">
  <div id="form-wrapper">
<form action="/tm/survey/" method="post" name="form-user-survey" id="form-user-survey">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" name="form-submit" id="form-submit" />
</form>
</form>
</div>

{% endblock %}
