{% extends "base.html" %}
{% load url from future %}

{% block user_static %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-tr.css" />

  <!-- jQuery stuff -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-latest.js"></script>

  <!-- PTM libraries -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/ui/setup-tr.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/translog2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/timer-widget.js"></script>
{% endblock %}

{% block header %}
<h2>{{ header_txt }}</h2>
{% endblock %}

{% block content %}
<div id="src-display">
{% for tok in src_toks %}
{% if src_css_dir == "ltr" %}
<div class="src-tok" id="src-tok-{{ forloop.counter0 }}">{{ tok }}</div>
{% else %}
<div class="src-tok-rtl" id="src-tok-{{ forloop.counter0 }}">{{ tok }}</div>
{% endif %}
{% endfor %}
</div>

<div id="form-tgt-container">
<form action="{{ form_action }}" method="post" name="form-tgt-input" id="form-tgt-input">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" name="form-tgt-submit" id="form-tgt-submit" />
</form>
</div>
{% endblock %}
