{% extends "base.html" %}
{% load url from future %}

{% block user_static %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-tr.css" />

  <!-- jQuery stuff -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-latest.js"></script>

  <!-- PTM libraries -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/ui/setup-tr.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/translog2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/timer-widget.js"></script>
{% endblock %}

{% block title %}
 -- Translate sentence {{ src.id }}  
{% endblock %}

{% block header %}
<h1>Translate from {{ src.lang.name }} to {{ tgt_lang.name }}:</h1>
{% endblock %}

{% block leftcol %}
<p><a href="/tm/">Work Queue</a></p>
<p><a href="/bye/">Logout</a></p>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
<div class="div-hidden" id="src-lang">{{ src.lang.code }}</div>
<div class="div-hidden" id="src-txt">{{ src.txt }}</div>
<div id="src-display">
{% for tok in src_toks %}
<div class="src-tok" id="src-tok-{{ forloop.counter0 }}">{{ tok }}</div>
{% endfor %}
</div>

<br />

<div id="form-tgt-container">
<form action="/tm/tr/" method="post" name="form-tgt-input" id="form-tgt-input">
{% csrf_token %}
<textarea name="form-tgt-txt" id="form-tgt-txt"></textarea>
<br />

<!-- Translation session statistics -->
<input type="hidden" style="display:none" name="form-tgt-lang" value="{{ tgt_lang.id }}" />
<input type="hidden" style="display:none" name="form-action-log" value="ERROR" />
<input type="hidden" style="display:none" name="form-src-id" value="{{ src.id }}" />
<input type="hidden" style="display:none" name="form-complete" value="1" />
<input type="submit" value="Submit" name="form-tgt-submit" id="form-tgt-submit" />
</form>
</div>
{% endblock %}
