{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- {{ name }}
{% endblock %}

{% block user_static %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ui-meedan.css" />
  <!-- jQuery stuff -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-latest.js"></script>

  <!-- PTM libraries -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/ui/setup-tr.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/translog2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/timer-widget.js"></script>

{% if popup_msg %}
<script type="text/javascript" src="{{ STATIC_URL }}js/css-popup.js"></script>
<script>
  window.onload = function() {
    var popup = new CssPopup("Interface B", "{{ popup_msg }}<p>This is only a tutorial. You do not need to enter an actual translation.</p>");
    popup.Show();
  }
</script>
{% endif %}
{% endblock %}

{% block footer %}
<p> Feel free to delete the suggested translation if you think that it would be quicker to type your own translation.</p>
{% endblock %}

{% block header %}
<h2>{{ header_txt }}</h2>
{% endblock %}

{% block leftcol %}
{% if doc_description %}
<p> Text from a document about: <span id="doc-description">{{ doc_description }}</span>.</p>
{% endif %}
{% endblock %}

{% block content %}
<div id="src-display">
{% for tok in src_toks %}
{% if src_css_dir == "ltr" %}
<div class="src-tok" id="src-tok-{{ forloop.counter0 }}">{{ tok }}</div>
{% else %}
<div class="src-tok-rtl" id="src-tok-{{ forloop.counter0 }}">{{ tok }}</div>
{% endif %}
{% endfor %}
</div>

<div id="form-wrapper">
<form action="{{ form_action }}" method="post" name="form-tgt-input" id="form-tgt-input">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" name="form-tgt-submit" id="form-tgt-submit" />
</form>
</div>
{% endblock %}
