{% extends "base.html" %}
{% load url from future %}

{% block user_static %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />

  <!-- jQuery stuff -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-latest.js"></script>

  <!-- PTM libraries -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sprintf-0.7-beta1.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ptm-setup.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ptm-extra.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ptm-widget2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ptm2.js"></script>
{% endblock %}

{% block user_sidebar %}
<div id="sidebar">
<ul>
 <li><a href="/tm/">Work Queue</a></li>
 <li><a href="/bye/">Logout</a></li>
</ul>
</div>
{% endblock %}

{% block content %}

<p>Translate this {{ src.lang.name }} text:</p>
<div class="div-hidden" id="src-lang">{{ src.lang.code }}</div>
<div class="div-hidden" id="src-txt">{{ src.txt }}</div>
<div id="src-display">
{% for tok in src_toks %}
<div class="src-tok" id="src-tok-{{ forloop.counter0 }}">{{ tok }}</div>
{% endfor %}
</div>

<br />

<div id="form-tgt-container">
<form action="/tm/{{ src.id }}/trdone/" method="post" name="form-tgt-input" id="form-tgt-input">
{% csrf_token %}
<label for="form-tgt-lang" class="form-lbl">to:</label>
<select name="form-tgt-lang">
{% for lang in lang_list %}
{% if not lang.code == src.lang.code %}
<option value="{{ lang.id }}">{{ lang.name }}</option>
{% endif %}
{% endfor %}
</select>
<br />
<textarea name="form-tgt-txt" id="form-tgt-txt"></textarea>
<br />

<!-- Translation session statistics -->
<input type="hidden" name="form-action-log" value="333" />
<input type="hidden" name="form-ui-id" value="{{ ui_id }}" />
<input type="submit" value="Submit" name="form-tgt-submit" id="form-tgt-submit" />
</form>

</div>

{% endblock %}
