{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- Training
{% endblock %}

{% block user_static %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ptm-site.css" />

<!-- JS files for action logger !-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-latest.js"></script>

  <!-- PTM libraries -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/translog2.js"></script>

{% endblock %}

{% block header %}
<h1>Please Read These Instructions Carefully!</h1>
{% endblock%}

{% block content %}

<div id="main-content">
<p>Thank you for agreeing to help us with this translation job! We are a group of researchers in the <a href="http://cs.stanford.edu/" target="_blank">Computer Science Department at Stanford University</a> working on translation interfaces. Our goal is to create interfaces that will improve both translator productivity and translation quality. While you work, this website will record your keystrokes and mouse actions. <b>No other information will be recorded, except for the survey data below.</b> We will study the method that you and other translators like you used to translate sentences.</p>

<p>You will be asked to translate two sets of sentences from {{ src_lang }} to {{ tgt_lang }}. Translate the sentences as quickly and as accurately as you can. Once you start a translation, you may pause for no longer than 3 minutes during the session. If you pause for longer than 3 minutes, then your current translation will be automatically submitted. For each sentence that you exceed the "idle timer," we will deduct that many words from the final price that you are paid.</p>

<p>Once you submit a translation, you will not have another opportunity to edit or proofread it. Make sure that your translation is in good shape before you press the submit button!</p>

<p>This job is the first in a series of translation studies that we are running over the next few months. If you submit good translations, then we will ask you to join us for future studies.</p>

<h2>Browser Test</h2>
<p>Your browser must support JavaScript for you to participate in this job. To test your browser, please begin typing in the box below. You should see activity in the second (larger) text box.</p>

<form>
<textarea id="form-debug" name="form-debug" style="margin:15px;width:100%;height:75px;padding:6px"></textarea>

<br/>

<textarea id="form-output" name="form-output" style="margin:15px;width:100%;height:125px;padding:6px"></textarea>
</form>

<h2>Job Description and Requirements</h2>
<p><b>Please enable the odesk Team Tracker software while you work.</b> Our website will administer the translation job, which is organized into two modules separated by a break:</p>

<ul>
<li>Translation Module #1 (about 300 words)</li>
<li>Break (untimed)</li>
<li>Translation Module #2 (about 300 words)</li>
<li>Survey (untimed; about 5min. to complete)</li>
</ul>

<p>We ask that you complete the whole job in a single session. Once you complete Module #1, the website will prompt you to take a break, and the timer will be disabled. Get up, go to the bathroom, get some coffee: whatever you need to stay productive. We expect that you'll take about 15 minutes, and no more than an hour. We require that you complete both modules on the same day.</p>

<p>The text that you will be asked to translate comes from several unrelated documents. We selected paragraphs from these documents, the sentences of which you will see in the order in which they appeared in the document. We expect that the sentences will challenge you. Please make sure that your {{ tgt_lang }} translation:
<ul>
<li>Is faithful to the original text in both meaning and style</li>
<li>Is grammatical, fluent, and natural-sounding</li>
<li>Does not add or delete information from the original text</li>
<li>Does not contain any spelling errors</li>
</ul>
</p>

<p>When creating your translation, please do not use:
<ul>
<li>Machine translation systems (for example, Google Translate, Trados, etc.)</li>
<li>Browser plugins or extensions</li>
</ul>
You <b>may</b> use dictionaries, either online (for example, <a href="http://www.wordreference.com" target="_blank">WordReference</a>) or offline.
</p>

<p>We will check the translations you submit against those produced by various machine translation systems. We will also review the screenshots of your work on odesk to verify that you did not use any other form of machine assistance. We're curious to know how humans work (we already know a lot about machines!). Please help us by not using machine assistance.</p>

<p>Each translation module has a different interface. The website will randomly choose which interface to show you in each of the translation modules.</p>

<h2>Translation Interface A</h2>
<p>You will be presented with a sentence and an empty textbox. Please enter a translation as quickly and as accurately as you can. The "idle timer," which limits your pauses to 3 minutes, is located at the bottom left of your browser window. If you do not complete the translation before the idle timer expires, then the incomplete translation will be submitted for you. The site will then redirect you to the next sentence.</p>

<h2>Translation Interface B</h2>
<p>You will be presented with a sentence and a suggested translation. You may use the suggested translation as a starting point. However, the objective remains the same: translate the sentence as quickly and as accurately as you can. If you believe that it would be faster to type a new translation than to fix the suggestion, then feel free to delete the suggestion and start from the beginning. As before, the "idle timer" will appear at the bottom left of your browser window.</p>

<h2>Survey</h2>
<p>We're almost there. We just need you to fill in a few details about yourself. When you click the button below, you will start a tutorial in which you will see Interface A and Interface B. <i>During the tutorial you don't need to submit complete translations.</i> Simply use these examples to familiarize yourself with the interfaces. When you click "Submit" on Interface B, you will be re-directed to a page with a link to the first translation module. Once you click that link, the job will begin. Start translating as quickly and accurately as you can!</p>
</div>

<div id="form-wrapper">
<form action="/tm/training/" method="post" name="form-train-done" id="form-train-done">
{% csrf_token %}
<table>
{{ survey_form.as_table }}
</table>
<input type="submit" value="I Understand the Job. Show Me the Interface Tutorial!" name="form-submit" id="form-submit" />
</form>
</div>

<script>
  // Setup translog2
  tlog2.init();
  $( 'textarea[name=form-debug]' ).keydown(function(){
     tlog2.flushTag('form-output');
    });
</script>
{% endblock %}
