<VirtualHost *:80>
	ServerAdmin spence@spencegreen.com 
	ServerName ptm.stanford.edu
	DocumentRoot /var/www

	<Directory />
		Options FollowSymLinks
		AllowOverride None
		Order Deny,Allow
		Deny from all
	</Directory>
	<Directory /var/www/>
		Options FollowSymLinks MultiViews 
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
	<Directory "/usr/lib/cgi-bin">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
		Order allow,deny
		Allow from all
	</Directory>

	# WSGI Process daemon
	WSGIDaemonProcess ptm.stanford.edu processes=2 threads=15 display-name=%{GROUP}
	WSGIProcessGroup ptm.stanford.edu

	# The WSGI test app
#	WSGIScriptAlias /wsgi_test /usr/local/www/wsgi_test/app.wsgi
#	<Directory /usr/local/www/wsgi_test>
#		Order allow,deny
#		Allow from all
#	</Directory>

	# Django test app
#	WSGIScriptAlias /django_test /usr/local/www/django_test/django.wsgi
#	<Directory /usr/local/www/django_test>
#		Order allow,deny
#		Allow from all
#	</Directory>

	Alias /robots.txt /usr/local/www/tmapp/static_root/robots.txt
	#Alias /favicon.ico /path/to/mysite.com/static/favicon.ico

	AliasMatch ^/([^/]*\.css) /usr/local/www/tmapp/static_root/styles/$1

	Alias /media/ /usr/local/www/tmapp/media/
	Alias /static/ /usr/local/www/tmapp/static_root/

	<Directory /usr/local/www/tmapp/static_root>
	Order deny,allow
	Allow from all
	</Directory>

	<Directory /usr/local/www/tmapp/media>
	Order deny,allow
	Allow from all
	</Directory>

	WSGIScriptAlias / /usr/local/www/tmapp/apache/django.wsgi
	<Directory /usr/local/www/tmapp/apache>
		Order allow,deny
		Allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel info 

	CustomLog ${APACHE_LOG_DIR}/access.log combined

    Alias /doc/ "/usr/share/doc/"
    <Directory "/usr/share/doc/">
        Options Indexes MultiViews FollowSymLinks
        AllowOverride None
        Order deny,allow
        Deny from all
        Allow from 127.0.0.0/255.0.0.0 ::1/128
    </Directory>

</VirtualHost>
