
/* Helper ids and classes */
.div-hidden {
   display:none;
}

/* Django generated ids and classes */

/* Form validation errors */
.errorlist {
   color:red;
}

/* view: Center column wrapper */
#main-content {
   float:left;
   text-align:justify;
   text-justify:auto;
}

/* view: History */
#history-container {
   width:460px;
/*   border:1px solid Yellow; */
}

#history-table {
   border:0px;
   width:460px;
}

.history-td {
   padding:0.2em;
   text-align:left;
}

.history-td-rl {
   text-align:right;
   direction:rtl;
   padding:0.2em;
}

#history-td-src-title {
   font-weight:bold;
}

.history-td-tgt-title {
   padding:3em 0.2em 0.2em 0.2em;
   text-align:left;
   font-size:small;
}

#history-td-none {
   padding:0.2em;
   text-align:left;
   font-size:medium;
   margin-top:5em;
}

/* TODO(spenceg): Re-factor the location of these styles */

/* Automatically inserted div that contains translation suggestions */
#ptm-widget_
{
position:absolute;
border-width:2px;
border-style:solid;
padding:0.2em;
opacity:1.0;
}

/* Test div */
#ptm-widget-fixed_ {
   clear:both;
}

