
/* view: translate.html */
/* also includes ptm divs */
#src-display {
   overflow:hidden;
   font-size:110%;
/*   border:2px solid Black; */
}

.src-tok {
   float:left;
   margin:1.2em 0.3em;
   border-width:1px;
   border-style:solid;
   border-color:White;
}

.src-tok-rtl {
   float:right;
   margin:1.2em 0.3em;
   border-width:1px;
   border-style:solid;
   border-color:White;
}

#id_txt {
   height:150px;
   width:100%;
}

#form-tgt-submit {
}
