<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
    {% block user_static %}
    {% endblock %}
    <title>Predictive Translation Memory{% block title %}{% endblock %}</title>
</head>

<body>

<div id="header">
{% block header %}
{% endblock %}
</div>

<div id="wrapper1">	
  <div id="wrapper2">	

    <div id="maincol">				
      <div id="leftcol">
	{% block leftcol %}
	{% endblock %}
      </div>
				
      <div id="rightcol">
	{% block rightcol %}
	{% endblock %}
      </div>
		  
      <div id="centercol">
	{% block content %}
	{% endblock %}
      </div>
    </div>				

    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>

  </div>
</div>
</body>
</html>
