{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- {{ page_title }}
{% endblock %}

{% block user_static %}

{% load compressed %}
{% compressed_css 'tmapp_css' %}

{% endblock %}

{% block header %}
Stanford Translation Study
{% endblock%}

{% block content %}

{% if not status.demographic_form_done %}
<p>Thank you for helping us with this experiment! We are a group of researchers in the <a href="http://cs.stanford.edu/" target="_blank">Computer Science Department at Stanford University</a> working on translation interfaces. Our goal is to how study how translators, like you, use machine-assisted translation systems.</p>

<p><b>Privacy</b>: During the study, we will record your responses (i.e., translations), keystrokes, mouse actions, and browser settings. We will also ask you to fill out two surveys on your demographic information and about your experience with this study. We will not collect any other personal information.</p>

<p><b>Participation</b>: Your participation in this experiment is voluntary. You may stop at any time without any penalty. However, you will only be paid for a completed study. Full payment is contingent on finishing the translation tasks in continuous sessions.</p>

<p>If you have any questions or feedback, please contact <a href="mailto:spenceg@stanford.edu">Spence Green</a>.</p>

<p>By clicking below, you understand that your participation in this study is voluntary, and agree to the collection of your survey and study data.</p>

<div>
<form action="/tm/demographic">
    <input type="submit" value="I Agree">
</form>
</div>

{% else %}

{% if status.training_done and not status.translate_done %}
<p>Take an untimed break before the next translation session begins! You will see a new CAT interface.</p>
{% endif %}

<h3> Experiment Steps </h3>
<table id="table-main-steps">
  <tr>
    <td class="left-col"><a href="/tm/training">Training</a></td>
    <td class="right-col"><span {% if status.training_done %} class="step-complete">Complete {% else %} class="step-incomplete">Incomplete {% endif %}</span></td>
  </tr>
  {% if status.training_done %}
  <tr>
    <td class="left-col"><a href="/tm/translate">Translate</a></td>
    <td class="right-col"><span {% if status.translate_done %} class="step-complete">Complete {% else %} class="step-incomplete">Incomplete {% endif %}</span></td>
  </tr>
  {% endif %}
  {% if status.training_done and status.translate_done %}
  <tr>
    <td class="left-col"><a href="/tm/exit">Exit Questionnaire</a></td>
    <td class="right-col"><span {% if status.exit_form_done %} class="step-complete">Complete {% else %} class="step-incomplete">Incomplete {% endif %}</span></td>
  </tr>
  {% endif %}
</table>

<div style="margin-top:2em">
<form action="/bye/">
    <input type="submit" value="Logout">
</form>
</div>

{% endif %}

{% endblock %}
