{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- {{ page_name }}
{% endblock %}

{% block user_static %}
{% load compressed %}
{% compressed_css 'tmapp_css' %}
{% compressed_js 'browser_js' %}
{% endblock %}

{% block header %}
{{ page_title }}
{% endblock%}

{% block content %}
<div id="main-content" style="font-size: 1.15em"><form action="{{ form_action }}" method="post" name="form-training" id="form-training">
	
<h3>Translation Interface Experiment</h3>

<p>Thank you for helping us with this experiment! We are a group of researchers in the <a href="http://cs.stanford.edu/" target="_blank">Computer Science Department at Stanford University</a> working on translation interfaces. Our goal is to how study how translators, like you, use machine-assisted translation systems.</p>

<p><b>Privacy</b>: During the study, we will record your responses (i.e., translations), keystrokes, mouse actions, and browser settings. We will also ask you to fill out two surveys on your demographic information and about your experience with this study. We will not collect any other personal information.</p>

<p><b>Participation</b>: Your participation in this experiment is voluntary. You may stop at any time without any penalty. However, you will only be paid for a completed study. Full payment is contingent on finishing the translation tasks in continuous sessions.</p>

<p>If you have any questions or feedback, please contact the investigators: <a href="mailto:spenceg@stanford.edu">Spence Green</a>, <a href="mailto:jcchuang@cs.washington.edu">Jason Chuang</a>, <a href="mailto:manning@stanford.edu">Christopher Manning</a>, or <a href="mailto:jheer@uw.edu">Jeffrey Heer</a></p>

<p>By clicking below, you understand that your participation in this study is voluntary, and agree to the collection of your survey and study data.</p>

<p>[I Agree]</p>

<h3>Demographic Survey</h3>

<p>(Insert survey after the user has already consented to the study.)</p>

<p>(Let's stick the browser check into survey page)</p>
<input type="hidden" name="BrowserLog" id="BrowserLog"></input>
<div id="BrowserReport" style="padding: 0 10px; border: 1px solid #ccc; font-family: PT_Mono, monospace; font-size: 8pt; color: #333">
	<p style="margin-bottom: 0"><b>Your browser is:</b></p>
	<p style="margin-top: 0" id="BrowserUserAgent"></p>
	<p style="margin-bottom: 0"><b>Your browser supports:</b></p>
	<p style="margin-top: 0" id="BrowserSupport"></p>
	<p style="margin-bottom: 0"><b>Your browser does not support:</b></p>
	<p style="margin-top: 0" id="BrowserNoSupport"></p>
	<p style="margin-bottom: 0"><b>Your browser passed the following tests:</b></p>
	<p style="margin-top: 0" id="BrowserPass"></p>
	<p style="margin-bottom: 0"><b>Your browser did not pass the following tests:</b></p>
	<p style="margin-top: 0" id="BrowserNoPass"></p>
</div>

<h3>Translation Speed &amp; Quality</h3>

<p>During the study, translate the documents as quickly and as accurately as you can.</p>

<p><b>Speed</b>: Once you start working on a document, you <b>may not idle for longer than 3 minutes</b> within a single session. If you pause for 3 continuous minutes, your session will be automatically terminated. The payment for the equivalent number of words will be deducted from your final pay. Continuing to translate will reset the &ldquo;idel timer.&rdquo; Otherwise, you will not be penalized or rewarded for total amount of time you spend on a translation.</p> 

<p><b>Quality</b>: Once you submit a translated document, you will not have another opportunity to edit it. Make sure that your translation is in good shape before you press the submit button! This job is the first in a series of studies that we are running over the next few months. You plan to invite good translators to join us for future studies.</p>

<h3>Overview of the Experiment</h3>

<p>Our website will administer the translation job, which is organized into two modules separated by a break:</p>

<ul>
<li>Demographic Survey</li>
<li>Translation Module #1 (about TODO words)</li>
<li>Break (not timed)</li>
<li>Translation Module #2 (about TODO words)</li>
<li>Exit Survey</li>
</ul>

<p>We ask that you complete each translation module in a continuous session. Once you complete Module #1, the website will prompt you to take a break, and the idle timer will be disabled. Get up, go to the bathroom, get some coffee: whatever you need to stay productive. We expect that you'll take about 15 minutes, and no more than an hour. We require that you complete both modules on the same day.</p>

<h3>Job Description and Requirements</h3>

<p>You will be asked to translate two sets of documents from <b>{{ src_lang }}</b> to <b>{{ tgt_lang }}</b>.</p>

<p>The document may be unrelated to each other. You will be presented with paragraphs selected from the documents. You will see the sentences from these paragraphs, in the same order in which they appear in the original document.</p>

<p>We expect that the sentences will challenge you. Please make sure that your {{ tgt_lang }} translation:
<ul>
<li>Is faithful to the original text in both meaning and style</li>
<li>Is grammatical, fluent, and natural-sounding</li>
<li>Does not add or delete information from the original text</li>
<li>Does not contain any spelling errors</li>
</ul>
</p>

<p>When creating your translation, you:
<ul>
<li><b>May use</b> dictionaries, either offline or online (e.g., <a href="http://www.wordreference.com" target="_blank">WordReference</a>).</li>
</ul>

<p>However:
<ul>
<li><b>Do not use</b> any other automatic/machine translation systems (e.g., Google Translate, Trados, etc.)</li>
<li><b>Do not use</b> translation memories or term bases</li>
<li><b>Do not use</b> browser plugins or extensions</li>
</ul>

<p>We will check the translations you submit against those produced by various machine translation systems. We're curious to know how humans work (we already know a lot about machines!). Please help us by not using machine assistance.</p>

<h3>Translation Interface A (Post-edit)</h3>

<p>The two translation modules have different interfaces. In this first module...</p>

<p>You will be presented with {{ src_lang }} documents in a sequence. The interface will contain textboxes to enter {{ tgt_lang }} translations. Each textbox will be pre-populated with a suggested {{ tgt_lang }} translation. You may accept, edit, or delete the suggested translation. Please work as quickly and as accurately as you can. The "idle timer," which limits your pauses to 3 minutes, is located at the bottom left of your browser window. If you do not complete the translation before the idle timer expires, then the incomplete translation will be submitted for you. The site will then redirect you to the next document.</p>

<h3>Translation Interface B (Interactive)</h3>

<p>The two translation modules have different interfaces. In this second module...</p>

<p>You will be presented with {{ src_lang }} documents in a sequence. The interface will provide several interactive aids to help you translate each document into {{ tgt_lang }}. The objective remains the same: translate each document as quickly and as accurately as you can. As before, the "idle timer" will appear at the bottom left of your browser window.</p>

<h3>Interactive Interface Tutorial</h3>
<p>The interactive interface offers both source and target aids. The suggestions update as you type. You may select suggestions via the keyboard and mouse. Please watch the following tutorial, which demonstrates the several translation aids.</p>

<strong>TODO: Screencast + YouTube link</strong>

{% if show_ui_link %}
<p>Once you have watched the tutorial, please translate a few documents using the new interface. Take your time. You will be paid for these translations, but the idle timer will not be present. We want you to develop some proficiency with the interface prior to starting the experiment. When you have translated a few documents, please click the link at the bottom of the interface to return to this page. Then you can start the experiment.</p>

<p><a href="{{ ui_link }}">Go to training interface</a></p>

{% else %}
<div id="form-wrapper">
{% csrf_token %}
<p><input type="submit" value="{{ form_button_text }}" name="form-submit" id="form-submit" /></p>
</div>
{% endif %}

</form></div>

{% endblock %}
