{% extends "base.html" %}
{% load url from future %}

{% block title %}
 -- {{ page_name }}
{% endblock %}

{% block user_static %}
{% load compressed %}
{% compressed_css 'tmapp_css' %}
{% compressed_js 'browser_js' %}
{% endblock %}

{% block header %}
{{ page_title }}
{% endblock%}

{% block content %}
<div id="main-content" style="font-size: 1.15em">

{% if step == 0 %}
<p>This training module will test your browser, describe the experiment, and present the translation workbench. You'll have the opportunity to practice by translating some sample documents before the experiment starts.</p>

<div>
<form action="/tm/training/{{ step }}/">
    <input type="submit" value="{{ form_button_text }}">
</form>
</div>

{% elif step == 1 %}
<h3>Browser Check</h3>

<input type="hidden" name="BrowserLog" id="BrowserLog"></input>
<div id="BrowserReport" style="padding: 0 10px; border: 1px solid #ccc; font-family: PT_Mono, monospace; font-size: 8pt; color: #333">
	<p style='font-weight:bold' id="BrowserUserAgent"></p>
	<!--
	<p style="margin-bottom: 0"><b>Your browser supports:</b></p>
	<p style="margin-top: 0" id="BrowserSupport"></p>
	<p style="margin-bottom: 0"><b>Your browser does not support:</b></p>
	<p style="margin-top: 0" id="BrowserNoSupport"></p>
	<p style="margin-bottom: 0"><b>Your browser passed the following tests:</b></p>
	<p style="margin-top: 0" id="BrowserPass"></p>
	-->
	<p style='font-weight:bold' id="BrowserTestStatus"></p>
</div>

<p>If your browser fails any tests, then first ensure that your browser is the latest version of <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a>. If your browser still fails these checks, then contact the administrators before proceeding. <b>You will not be paid if your browser does not pass prior to starting the experiment.</b></p>

<p><b>IMPORTANT</b>: Be sure to <a href="https://support.google.com/chrome/answer/95416?hl=en" target="_blank">set both the source and target languages in Chrome</a> so that it doesn't offer to translate the pages for you!</p>

<div>
<form action="/tm/training/{{ step }}/">
    <input type="submit" value="{{ form_button_text }}">
</form>
</div>

{% elif step == 2 %}
<h3>Experiment Goals: Translation Speed &amp; Quality</h3>

<p>During the study, translate the documents as quickly and as accurately as you can.</p>

<p><b>Speed</b>: Once you start working on a document, you <b>may not idle for longer than 3 minutes</b> within a single session. If you pause---meaning an absence of keyboard or mouse input---for 3 continuous minutes, your current set of translations will be automatically submitted. The payment for the equivalent number of words will be deducted from your final pay. Continuing to translate will reset the &ldquo;idle timer,&rdquo; which will be located at the bottom of your browser window.</p>

<p><b>Quality</b>: Once you submit a translated document, you will not have another opportunity to edit it. Make sure that your translation is in good shape before you press the submit button!</p>

<div>
<form action="/tm/training/{{ step }}/">
    <input type="submit" value="{{ form_button_text }}">
</form>
</div>

{% elif step == 3 %}
<h3>Overview of the Experiment</h3>

<p>This website will administer the translation job, which is organized into two modules separated by a break:</p>

<ul>
<li>Translation Module #1 (about 1,200 source words)</li>
<li>Break (not timed)</li>
<li>Translation Module #2 (about 1,200 source words)</li>
<li>Exit Survey</li>
</ul>

<p>Each module consists of a series of documents, and you'll receive an untimed break after every 4 documents. We ask that you complete the translation job on a single day. You will also receive a break after completing Module #1 since the next module will contain a new interface. Get up, have lunch, go to the bathroom, get some coffee: whatever you need to stay productive. We expect that you'll take no more than an hour. <b>We require that you complete both modules on the same day.</b></p>

<div>
<form action="/tm/training/{{ step }}/">
    <input type="submit" value="{{ form_button_text }}">
</form>
</div>

{% elif step == 4 %}
<h3>Job Description and Requirements</h3>

<p>You will be asked to translate two sets of documents from <b>{{ src_lang }}</b> to <b>{{ tgt_lang }}</b>.</p>

<p>The document may be unrelated to each other. You will be presented with paragraphs selected from the documents. You will see the sentences from these paragraphs, in the same order in which they appear in the original document.</p>

<p>This text comes from technical domains, so it will challenge you. Please make sure that your {{ tgt_lang }} translation:
<ul>
<li>Is faithful to the original text in both meaning and style</li>
<li>Is grammatical, fluent, and natural-sounding</li>
<li>Does not add or delete information from the original text</li>
<li>Does not contain any spelling errors</li>
</ul>
</p>

<p>When creating your translation, you:
<ul>
<li><b>May use</b> dictionaries, either offline or online (e.g., <a href="http://www.wordreference.com" target="_blank">WordReference</a>).</li>
</ul>

<p>However:
<ul>
<li><b>Do not use</b> any other automatic/machine translation systems (e.g., Google Translate, Trados, etc.)</li>
<li><b>Do not use</b> translation memories or term bases</li>
<li><b>Do not use</b> browser plugins or extensions</li>
</ul>

<p>We will check the translations you submit against those produced by various machine translation systems. We're trying to understand how this specific CAT system works, so please help us by not using other machine assistance.</p>

<div>
<form action="/tm/training/{{ step }}/">
    <input type="submit" value="{{ form_button_text }}">
</form>
</div>

{% elif step == 5 %}
<h3>Description of the CAT Modes</h3>

<p>This experiment tests the difference between two different CAT modes: post-edit and interactive. The modes have similar interfaces that differ only in terms of the type of assistance offered. You will be presented with {{ src_lang }} documents in a sequence. The interface will contain textboxes to enter {{ tgt_lang }} translations. Please work as quickly and as accurately as you can.</p>

<p>Both interfaces adhere to the following target text convention:
<ul>
  <li><span style="color:#000">Black text</span> : belongs to human translator, never modified by machine.</li>
  <li><span style="color:#999">Gray text</span> : belongs to machine, never modified by human translator. In the post-edit mode, the gray text immediately becomes black, indicating human ownership. In the interactive mode, the human can select/accept parts of the gray text.</li>
</ul>
</p>

<h3>Post-editing Interface</h3>

<p>This is a standard post-editing scenario. Each textbox will be pre-populated with a suggested {{ tgt_lang }} translation in black. You may accept, edit, or delete the suggested translation.</p>

<h3>Interactive Interface</h3>

<p>Each textbox will now be populated with gray text. You can accept the text immediately after your cursor by pressing the Tab key. A drop-down will sometimes show several translation options, and the Tab key always selects the top translation. You can filter the drop-down by typing, or navigate it with the arrow keys. Accepted text will turn black.</p>

<p>The interactive interface includes three types of aides:
  <ul>
  <li>Term lookup : implemented as hover over source text</li>
  <li>Full MT : implemented as gray text</li>
  <li>In-context translation options : implemented as drop-down and gray text updates while editing</li>
  </ul>
</p>

<p><b>IMPORTANT</b>: Only black text will be submitted when you press Submit. If you want to submit a full suggestion, then you need to Tab through it. If there is extra gray text at the end of your translation, don't worry. It won't be submitted.</p>

<div>
<form action="/tm/training/{{ step }}/">
    <input type="submit" value="{{ form_button_text }}">
</form>
</div>

{% elif step == 6 %}
<p>Please watch this tutorial, which explains the features of the CAT interfaces.</p>

<iframe width="640" height="480" src="//www.youtube.com/embed/ktRebX9SA5Y" frameborder="0" allowfullscreen></iframe>

<h3>IMPORTANT: Using the Interactive Interface</h3>
<p>Interactive translation is a new tool, and we strongly encourage you to consider using it in a new way. We recognize that some translators "read through" a source text before working. This is called global planning. In the interactive mode, we encourage you to try local planning instead. Read a source phrase or two, and then dive into translation. The machine will revise it's suggestion as you work. We want to see if interactive translation can speed up translation---while retaining or even improving quality. Reducing planning might be one way to increase productivity.</p>

<h3>Practicing with the Interfaces</h3>
<p>When you press the button below, the translator workbench will open. The workbench will alternate between the post-edit and interactive modes. Take your time. You will be paid for these translations, but the idle timer will not be present. We want you to develop some proficiency with the interfaces prior to starting the experiment.</p>

<p>When you feel proficient, please click the link at the bottom of the workbench interface to return to the homepage. Then you can start the experiment.</p>

<div>
<form action="{{ ui_link }}">
  <input type="submit" value="{{ form_button_text }}">
</form>
</div>

{% endif %}

</div>

{% endblock %}


