<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Translation User Interface</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% load compressed %}
	{% compressed_css 'ui_css' %}
	{% compressed_js 'ui_js' %}
	<script type="text/javascript">
		$(document).ready( function() {
			ptm = new PTM({
				"postEditMode" : {{ conf.disable_interactive }},
				"docURL" : "{{ conf.src_document_url }}",
				"sourceLang" : "{{ conf.src_language }}",
				"targetLang" : "{{ conf.tgt_language }}"
			});
			ptm.load();
		});
		var prepareSubmission = function() {
			var userResponses = ptm.getUserResponses();
			var interactionLog = ptm.getInteractionLog();
			d3.select("#id_text").node().value = JSON.stringify(userResponses);
			d3.select("#id_log").node().value = JSON.stringify(interactionLog);
			return true;
		};
	</script>
</head>
<body style="padding: 0; margin: 0; background: #eee;">
<div class="PAGE" style="margin: 20px 20px 200px 20px">
  <div id="PTM"></div>
  <div id="form-wrapper">
    <form action="{{ form_action }}" method="post" name="form-tgt-input" id="form-tgt-input" onsubmit="return prepareSubmission()">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{{ form_button_text }}" name="form-tgt-submit" id="form-tgt-submit" />
    </form>
    {% if training %}
    <form action="/tm/" method="post" name="form-training" id="form-training">
      {% csrf_token %}
      <p><input type="submit" value="Quit training. I'm ready to start the experiment" name="form-train-submit" id="form-train-submit" /></p>
    </form>
    {% endif %}
  </div>
</div>
<div class="ExperimentUI">Experiment will end in <span class="ExperimentTimeRemaining"></span> without continued translations.</div>
</body>
</html>
