
/* TODO(spenceg) Need to generalize font styling so that
 autocomplete box placement works correctly independently
 of how the HTML is styled
*/
body,html 
{
font-family: Helvetica, Arial, sans-serif;
margin:0;
padding:0;
color:#000;
background:#FFF;
}

textarea
{
font-family: Helvetica, Arial, sans-serif;
font-size: 100%;
}

#container_ {
min-width:72.5em;
width:72.5em;
margin:0 auto;
}

#lang-select_
{
float: left;
width: 37.5em;
}

#oov-input_
{
padding-top:3em;
float: right;
width: 35em;
}


.oov-src-txt
{
width: 14.5em;
display: inline-block;
float: left;
font-size: 50%;
}

.oov-tgt
{
width: 5em;
}


#src-input_
{
width: 37em;
height: 12.5em;
}

#ptm-input_
{
width: 37em;
height: 12.5em;
}

#ptm_
{
display:none;
}

/* wsg: This hidden box must have the same styling as ptm-input_
     so that autocomplete box placement works properly.
*/
#ptm-renderbox_
{
font-family: Helvetica, Arial, sans-serif;
font-size:100%;
white-space: nowrap;
display: none;
position: absolute;
height: auto;
width: auto;
}